.main {
  padding: 2rem;
  min-height: 100vh;
}

.logo {
  margin-top: 1rem;
  margin-bottom: 3rem;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
}

.box {
  border: 1px solid rgb(var(--callout-border-rgb));
  border-radius: var(--border-radius);
  box-shadow: 0px 2px 12px 2px rgb(var(--secondary-glow));
  background-color: #fff;
}

.box .boxTitle {
  padding: 1.5rem;
  border-bottom: 1px solid rgb(var(--callout-border-rgb));
}

.box ul {
  display: flex;
  flex-direction: column;
  max-height: 30rem;
  overflow-x: auto;
}

.box ul li {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  border-top: 1px solid rgb(var(--callout-border-rgb));
}

.box ul li:first-child {
  border-top: none;
}

.footerTitle {
  margin-top: 1rem;
  font-weight: 400;
  text-align: center;
}
